body {
    background-image: url("reqpagebg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-color: rgba(0, 0, 0, 0.5); 
    background-blend-mode: multiply; 
}

h2 {
    color: whitesmoke;
    display: inline;
    cursor: pointer;
    margin-right: 10%;
    margin-left: 10%;
}
.container {
    max-width: 700px;
    padding: 28px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    top: -50px;
    overflow: hidden;
}
.Form1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 0;
}
h3 {
    text-align: center;
}
.form-box {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 10px;
}
.form-box:nth-child(2n){
    justify-content: end;
}
form input {
    width: 80%;
    padding: 6px 2px;
    margin: 2px 0;
    border: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
::placeholder{
    color: #777;
}
.btn-box{
    width: 100%;
    margin: 10px auto;
    text-align: center;
}
.btn-box1{
    width: 100%;
    margin: 40px auto;
    text-align: center;
    margin-right: 20%;
}
form button{
    width: 150px;
    height: 42px;
    margin: 0 10px;
    background: linear-gradient(to right, maroon, red);
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
}

.container2 {
    width: 450px;
    height: 430px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    position: relative;
    top: -50px;
    overflow: hidden;
}
.container2 form {
    width: 370px;
    position: absolute;
    top: 40px;
    left: 6.5%;
    transition: 0.5s;
}

::placeholder{
    color: #777;
}
.btn-box2{
    width: 100%;
    margin: 40px auto;
    text-align: center;
    margin-left: 4%;
}

form button{
    width: 150px;
    height: 42px;
    margin: 0 10px;
    background: linear-gradient(to right, maroon, red);
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
}
#Step2{
    left: 450px;
}
#Step3{
    left: 450px;
}
#Step4{
    left: 450px;
}
.step-row2{
    width: 450px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px 1px #000;
    position: relative;
}
.step-col2{
    width: 120px;
    text-align: center;
    color: #333;
    position: relative;
}
#progress2{
    position: absolute;
    height: 100%;
    width: 90px;
    background: linear-gradient(to right, maroon, red);
    transition: 1s;
}
#progress2::after{
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom:  20px solid transparent;
    position: absolute;
    right: -20px;
    top: 0;
    border-left: 20px solid red;
}
.custom-table {
    margin-top: 10%;
    margin-left: 3%;
    border: 2px solid black;
    width: 100%;
}

.custom-table td {
    border: 1px solid black;
    padding: 8px;
    font-family: Calibri;
    font-size: 17px;
    display: block;
    text-align: center;
}
.container3 {
    width: 936px;
    height: 668px;
    margin: 8% auto;
    background: #fff;
    border-radius: 5px;
    margin-top: 3%;
    position: center ;
    overflow: hidden;
}
.container2 form {
    width: 370px;
    position: absolute;
    top: 40px;
    left: 6.5%;
    transition: 0.5s;
}
.btn-box3{
    width: 100%;
    margin: 40px auto;
    text-align: center;
}
.container4 {
    width: 450px;
    height: 150px;
    margin: 8% auto;
    margin-top: 12%;
    background: #fff;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
/**/
button {
    width: 250px;
    height: 42px;
    margin: 0 10px;
    background: linear-gradient(to right, maroon, red);
    border-radius: 30px;
    border: 0;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    margin-left: 23%;
    margin-top: 12%;
}
